<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groovy - Connecting Home</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="about"><span class="navbar-menus">ABOUT</span></a></li>
                <li><a href="features"><span class="navbar-menus">FEATURES</span></a></li>
                <li><a href="packages"><span class="navbar-menus">PACKAGES</span></a></li>
                <li><a href="support"><span class="navbar-menus">SUPPORT</span></a></li>
                <li><a href="contact"><span class="navbar-menus">CONTACT</span></a></li>
                <li class="active"><a href="signin"><span class="sign-in-only">SIGN IN</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--content-->
<div class="coming-soon">
    <h1>Coming Soon</h1>
</div>
<!--/content-->

<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                    <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                    <a href="https://twitter.com/groovy_play">Twitter</a><br>
                    <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                    <a href="/features">Unlimited Internet Access</a><br>
                    <a href="/features">Fiber Optic to the Home</a><br>
                    <a href="/features">Free Public Wifi Account</a><br>
                    <a href="/features">IP Static</a><br>
                    <a href="/features">Helpdesk 24/7</a><br>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                    <a href="about">About</a><br/>
                    <a href="career">Career</a><br>
                    <a href="event">Event</a><br>
                    <a href="contact">Contact</a><br>
                    <a href="privacy-policy">Privacy Policy</a><br>
                    <a href="terms-of-use">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Best Internet services for homes and apartments with a complete entertainment services, from live TV, video on demand, social TV, catch-up TV and radio streaming.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2017 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
