<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groovy - Connecting Home</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100|Open+Sans:300" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="features"><span class="navbar-menus">FEATURES</span></a></li>
                <li><a href="packages"><span class="navbar-menus">PACKAGES</span></a></li>
                <li><a href="support"><span class="navbar-menus">SUPPORT</span></a></li>
                <li><a href="contact"><span class="navbar-menus">CONTACT</span></a></li>
                <li class="active"><a href="signin"><span class="sign-in-only">SIGN IN</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--content-->
<div class="container event-content">
    <div class="row" style="padding-right: 50px;padding-left: 50px;margin-right: auto;margin-left: auto;">
        <div class="col-sm-12">
            <h2 class="text-center" style="margin-bottom: 30px;font-weight: 300;">Latest Event</h2>
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-sm-6 col-md-4">
                    <a href="event-detail" class="link-blog" style="text-decoration: none; color: #000;">
                        <div class="cardThumbnail">
                            <div class="card-image">
                                <img src="images/e1.jpg" alt="wb" width="100%">
                            </div>
                            <div class="card-content" style="padding: 24px;">
                                <h3 style="font-weight: 300; font-family: 'Roboto';">Fun Aerobic</h3>
                                <p style="font-size: 14px; font-family: 'Open Sans', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="card-date">
                                <p style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #FC592E;">26/APRIL/2017</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="event-detail" class="link-blog" style="text-decoration: none; color: #000;">
                        <div class="cardThumbnail">
                            <div class="card-image">
                                <img src="images/e2.jpg" alt="wb" width="100%">
                            </div>
                            <div class="card-content" style="padding: 24px;">
                                <h3 style="font-weight: 300; font-family: 'Roboto';">Payung Groovy</h3>
                                <p style="font-size: 14px; font-family: 'Open Sans', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="card-date">
                                <p style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #FC592E;">26/APRIL/2017</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="event-detail" class="link-blog" style="text-decoration: none; color: #000;">
                        <div class="cardThumbnail">
                            <div class="card-image">
                                <img src="images/e1.jpg" alt="wb" width="100%">
                            </div>
                            <div class="card-content" style="padding: 24px;">
                                <h3 style="font-weight: 300; font-family: 'Roboto';">Fun Aerobic</h3>
                                <p style="font-size: 14px; font-family: 'Open Sans', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="card-date">
                                <p style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #FC592E;">26/APRIL/2017</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-sm-6 col-md-4">
                    <a href="event-detail" class="link-blog" style="text-decoration: none; color: #000;">
                        <div class="cardThumbnail">
                            <div class="card-image">
                                <img src="images/e2.jpg" alt="wb" width="100%">
                            </div>
                            <div class="card-content" style="padding: 24px;">
                                <h3 style="font-weight: 300; font-family: 'Roboto';">Payung Groovy</h3>
                                <p style="font-size: 14px; font-family: 'Open Sans', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="card-date">
                                <p style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #FC592E;">26/APRIL/2017</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="event-detail" class="link-blog" style="text-decoration: none; color: #000;">
                        <div class="cardThumbnail">
                            <div class="card-image">
                                <img src="images/e1.jpg" alt="wb" width="100%">
                            </div>
                            <div class="card-content" style="padding: 24px;">
                                <h3 style="font-weight: 300; font-family: 'Roboto';">Fun Aerobic</h3>
                                <p style="font-size: 14px; font-family: 'Open Sans', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="card-date">
                                <p style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #FC592E;">26/APRIL/2017</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="event-detail" class="link-blog" style="text-decoration: none; color: #000;">
                        <div class="cardThumbnail">
                            <div class="card-image">
                                <img src="images/e2.jpg" alt="wb" width="100%">
                            </div>
                            <div class="card-content" style="padding: 24px;">
                                <h3 style="font-weight: 300; font-family: 'Roboto';">Payung Groovy</h3>
                                <p style="font-size: 14px; font-family: 'Open Sans', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="card-date">
                                <p style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #FC592E;">26/APRIL/2017</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/content-->

<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                    <a href="#">Facebook</a><br>
                    <a href="#">Twitter</a><br>
                    <a href="#">Instagram</a><br>
                    <a href="#">Youtube</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                    <a href="#">Internet</a><br>
                    <a href="#">Live TV</a><br>
                    <a href="#">Video on Demand</a><br>
                    <a href="#">Social TV</a><br>
                    <a href="#">Catch-up TV Channel</a><br>
                    <a href="#">Radio Streaming</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                    <a href="about">About</a><br/>
                    <a href="career">Career</a><br>
                    <a href="event">Event</a><br>
                    <a href="contact">Contact</a><br>
                    <a href="privacy-policy">Privacy Policy</a><br>
                    <a href="terms-of-use">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Layanan Internet terbaik untuk komplek perumahan dan apartemen dengan mengkombinasikan layanan hiburan terlengkap mullai dari live TV, video on demand, social TV, catch-up TV dan radio streaming
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2016 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>