<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body class="form-auth-is">
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="features"><span class="navbar-menus"><strong>FEATURES</strong></span></a></li>
              <li><a href="packages"><span class="navbar-menus"><strong>PACKAGES</strong></span></a></li>
              <li><a href="support"><span class="navbar-menus"><strong>SUPPORT</strong></span></a></li>
              <li class="active"><a href="signin"><span class="sign-in-only"><strong>SIGN IN</strong></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container container-auth-client">
    <div class="top-margin text-center">
        <div class="form">
            <div class="text">Submit your email and we'll send a link to resend your password</div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
            <a href="/email-verification" class="btn button-submit">RESET</button></a>
            <div class="text text-other"><a href="/signin">Sign in</a></div>
        </div>
    </div>
</div>
<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                <span class="home-footer-body-text">
                    <a href="#">Facebook</a><br>
                    <a href="#">Twitter</a><br>
                    <a href="#">Instagram</a><br>
                    <a href="#">Youtube</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                    <a href="#">Internet</a><br>
                    <a href="#">Live TV</a><br>
                    <a href="#">Video on Demand</a><br>
                    <a href="#">Social TV</a><br>
                    <a href="#">Catch-up TV Channel</a><br>
                    <a href="#">Radio Streaming</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                <span class="home-footer-body-text">
                    <a href="#">About</a><br/>
                    <a href="">Career</a><br>
                    <a href="">Event</a><br>
                    <a href="">Contact</a><br>
                    <a href="">Privacy Policy</a><br>
                    <a href="">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Layanan Internet terbaik untuk komplek perumahan dan apartemen dengan mengkombinasikan layanan hiburan terlengkap mullai dari live TV, video on demand, social TV, catch-up TV dan radio streaming
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2016 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
