<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groovy</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body class="form-auth-is">
<div>
    <div class="container container-auth">
        <div class="top-margin text-center">
            <img class="logo-size" src="images/groovy.png">
            <div class="form">
                <div class="text">Help is on the way, reset password link has been sent to your email</div>
                <div class="button-resend">
                    <button type="submit" class="btn">RESEND</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer">
        <footer class="text-center">
            <p>Copyright 2016 Groovy. All right reserved.</p>
        </footer>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>