<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!-- Google Material Icon -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="features"><span class="navbar-menus"><strong>FEATURES</strong></span></a></li>
              <li><a href="packages"><span class="navbar-menus"><strong>PACKAGES</strong></span></a></li>
              <li><a href="support"><span class="navbar-menus"><strong>SUPPORT</strong></span></a></li>
              <li class="active"><a href="comming"><span class="sign-in-only"><strong>SIGN IN</strong></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="wall-package jumbotron" style="background-color:#e2e2e2;">
    <div class="container wall-content text-center">
        <div class="row">
            <div class="col-sm-12">
                <p><span class="wall-title" style="font-weight: lighter">Pilih Paket yang Sesuai Dengan Kebutuhan Anda</span></p>
                <p><span class="home-content-text">Paket yang mengkombinasikan antara layanan internet berkecepatan tinggi, <br> dengan layanan Live TV terlengkap di Indonesia dengan harga sangat terjangkau</span></p>
            </div>
        </div>
    </div>
</div>

<div class="wall-package-content jumbotron">
    <div class="container">

        <!-- Groovy Time -->
        <div class="package-content">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center"><span class="wall-package-content-title">Groovy Time</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 container">

                    <div class="col-xs-12 col-md-4 price-box">
                        <div class="price-box-container">
                            <div class="price-box-header package-most-popular">
                                <div class="price-box-header-total">
                                    <div style="float: left;">
                                        <span class="price-box-header-currency">Rp.</span>
                                        <span class="price-box-header-number">349.</span>
                                    </div>
                                    <div style="float: left">
                                        <span class="price-box-header-month">/month</span><br>
                                        <span class="price-box-header-number-2">000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-box-header-level">LEVEL 1</div>
                            <div class="price-box-body">
                                <div class="price-box-body-list">
                                    <ul>
                                        <li>1 - 4 Devices</li>
                                        <li>Unlimited Quota</li>
                                        <li>IP Static Private</li>
                                        <li>Wi-Fi Access Point</li>
                                        <li>Free 1 Nusanet Wifi Account</li>
                                        <li>No Penalty</li>
                                        <li>Installation free Rp. 75.000,-</li><br>
                                    </ul>
                                </div>
                                <div class="price-box-body-list-keterangan">
                                    <ul>
                                        <li><i>Not include tax</i></li>
                                        <li><i>Router rental free Rp. 40.000,- /month</i></li>
                                    </ul>
                                </div>
                                <div class="price-box-body-button">
                                    <a href="contact" class="btn price-box-btn-subscribe">SUBSCRIBE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 price-box">
                        <div class="price-box-container">
                            <div class="price-box-header package-recommend">
                                <div class="price-box-header-total">
                                    <div style="float: left;">
                                        <span class="price-box-header-currency">Rp.</span>
                                        <span class="price-box-header-number">549.</span>
                                    </div>
                                    <div style="float: left">
                                        <span class="price-box-header-month">/month</span><br>
                                        <span class="price-box-header-number-2">000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-box-header-level">LEVEL 2</div>
                            <div class="price-box-body">
                                <div class="price-box-body-list">
                                    <ul>
                                        <li>1 - 8 Devices</li>
                                        <li>Unlimited Quota</li>
                                        <li>IP Static Private</li>
                                        <li>Wi-Fi Access Point</li>
                                        <li>Free 2 Nusanet Wifi Account</li>
                                        <li>No Penalty</li>
                                        <li>Installation free Rp. 75.000,-</li><br>
                                    </ul>
                                </div>
                                <div class="price-box-body-list-keterangan">
                                    <ul>
                                        <li><i>Not include tax</i></li>
                                        <li><i>Router rental free Rp. 40.000,- /month</i></li>
                                    </ul>
                                </div>
                                <div class="price-box-body-button">
                                    <a href="contact" class="btn price-box-btn-subscribe">SUBSCRIBE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 price-box">
                        <div class="price-box-container">
                            <div class="price-box-header">
                                <div class="price-box-header-total">
                                    <div style="float: left;">
                                        <span class="price-box-header-currency">Rp.</span>
                                        <span class="price-box-header-number">899.</span>
                                    </div>
                                    <div style="float: left">
                                            <span class="price-box-header-month">/month</span><br>
                                            <span class="price-box-header-number-2">000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-box-header-level">LEVEL 3</div>
                            <div class="price-box-body">
                                <div class="price-box-body-list">
                                    <ul>
                                        <li>1 - 80 Devices</li>
                                        <li>Unlimited Quota</li>
                                        <li>IP Static Private</li>
                                        <li>Wi-Fi Access Point</li>
                                        <li>Free 4 Nusanet Wifi Account</li>
                                        <li>No Penalty</li>
                                        <li>Installation free Rp. 75.000,-</li><br>
                                    </ul>
                                </div>
                                <div class="price-box-body-list-keterangan">
                                    <ul>
                                        <li><i>Not include tax</i></li>
                                        <li><i>Router rental free Rp. 40.000,- /month</i></li>
                                    </ul>
                                </div>
                                <div class="price-box-body-button">
                                    <a href="contact" class="btn price-box-btn-subscribe">SUBSCRIBE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /End Groovy Time -->


        <!-- Groovy Movie -->
        <div class="package-content">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center"><span class="wall-package-content-title">Groovy Movie</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 container">

                    <div class="col-xs-12 col-md-4 price-box">
                        <div class="price-box-container">
                            <div class="price-box-header">
                                <div class="price-box-header-total">
                                    <div style="float: left;">
                                        <span class="price-box-header-currency">Rp.</span>
                                        <span class="price-box-header-number">499.</span>
                                    </div>
                                    <div style="float: left">
                                        <span class="price-box-header-month">/month</span><br>
                                        <span class="price-box-header-number-2">000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-box-header-level">LEVEL 4</div>
                            <div class="price-box-body">
                                <div class="price-box-body-list">
                                    <ul>
                                        <li>1 - 4 Devices</li>
                                        <li><span style="color:#ea442d">Elementary TV Channels</span></li>
                                        <li>Unlimited Quota</li>
                                        <li>IP Static Private</li>
                                        <li>Wi-Fi Access Point</li>
                                        <li>Free 1 Nusanet Wifi Account</li>
                                        <li>No Penalty</li>
                                        <li>Installation free Rp. 75.000,-</li><br>
                                    </ul>
                                </div>
                                <div class="price-box-body-list-keterangan">
                                    <ul>
                                        <li><i>Not include tax</i></li>
                                        <li><i>Router rental free Rp. 40.000,- /month</i></li>
                                        <li><i>STB rental free Rp. 45.000,- /month</i></li>
                                    </ul>
                                </div>
                                <div class="price-box-body-button">
                                    <a href="contact" class="btn price-box-btn-subscribe">SUBSCRIBE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 price-box">
                        <div class="price-box-container">
                            <div class="price-box-header package-recommend">
                                <div class="price-box-header-total">
                                    <div style="float: left;">
                                        <span class="price-box-header-currency">Rp.</span>
                                        <span class="price-box-header-number">699.</span>
                                    </div>
                                    <div style="float: left">
                                        <span class="price-box-header-month">/month</span><br>
                                        <span class="price-box-header-number-2">000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-box-header-level">LEVEL 5</div>
                            <div class="price-box-body">
                                <div class="price-box-body-list">
                                    <ul>
                                        <li>1 - 8 Devices</li>
                                        <li><span style="color:#ea442d">Basic TV Channels</span></li>
                                        <li>Unlimited Quota</li>
                                        <li>IP Static Private</li>
                                        <li>Wi-Fi Access Point</li>
                                        <li>Free 2 Nusanet Wifi Account</li>
                                        <li>No Penalty</li>
                                        <li>Installation free Rp. 75.000,-</li><br>
                                    </ul>
                                </div>
                                <div class="price-box-body-list-keterangan">
                                    <ul>
                                        <li><i>Not include tax</i></li>
                                        <li><i>Router rental free Rp. 40.000,- /month</i></li>
                                        <li><i>STB rental free Rp. 45.000,- /month</i></li>
                                    </ul>
                                </div>
                                <div class="price-box-body-button">
                                    <a href="contact" class="btn price-box-btn-subscribe">SUBSCRIBE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 price-box">
                        <div class="price-box-container">
                            <div class="price-box-header">
                                <div class="price-box-header-total">
                                    <div style="float: left;">
                                        <span class="price-box-header-currency">Rp.</span>
                                        <span class="price-box-header-number">999.</span>
                                    </div>
                                    <div style="float: left">
                                        <span class="price-box-header-month">/month</span><br>
                                        <span class="price-box-header-number-2">000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-box-header-level">LEVEL 6</div>
                            <div class="price-box-body">
                                <div class="price-box-body-list">
                                    <ul>
                                        <li>1 - 80 Devices</li>
                                        <li><span style="color:#ea442d">Basis+ TV Channels</span></li>
                                        <li>Unlimited Quota</li>
                                        <li>IP Static Private</li>
                                        <li>Wi-Fi Access Point</li>
                                        <li>Free 4 Nusanet Wifi Account</li>
                                        <li>No Penalty</li>
                                        <li>Installation free Rp. 75.000,-</li><br>
                                    </ul>
                                </div>
                                <div class="price-box-body-list-keterangan">
                                    <ul>
                                        <li><i>Not include tax</i></li>
                                        <li><i>Router rental free Rp. 40.000,- /month</i></li>
                                        <li><i>STB rental free Rp. 45.000,- /month</i></li>
                                    </ul>
                                </div>
                                <div class="price-box-body-button">
                                    <a href="contact" class="btn price-box-btn-subscribe">SUBSCRIBE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            <!-- /End Groovy Movie -->

            <!-- Groovy TV List -->
        <div class="package-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 container">
                    <div class="col-xs-12">
                        <p><!-- List 1 -->
                            <span class="icon"><i class="material-icons" style="vertical-align: middle">tv</i></span>
                            <span class="tv-list-text"><strong>ELEMENTARY TV CHANNELS</strong><br>
                              TRANS TV, METRO TV, ANTV, TV ONE, SCTV, NET TV, KPLUS, START WORLD, AXN, CNN INTERNATIONAL, NAT GEO CHANNEL, CHANNEL V, FASHION TV, DREAMWORKS, CARTOON NETWORK, FOX MOVIE PREMIUM, HBO, BEIN 1, BEIN 2, BEIN 3
                            </span>
                        </p>
                        <p><!-- List 2 -->
                            <span class="icon"><i class="material-icons" style="vertical-align: middle">tv</i></span>
                            <span class="tv-list-text"><strong>BASIC TV CHANNELS</strong><br>
                              TRANS TV, TRANS 7, METRO TV, ANTV, KOMPAS TV, CNN INDONESIA, TV ONE, SCTV, NET TV, KPLUS, START WORLD, WAKU - WAKU JAPAN, NHK WORLD PREMIUM, ANIPLUS, CHANNEL M, AXN, CNN INTERNATIONAL, CCTV 4, BLOOMBERG INTERNATIONAL, DWTV, CNBC ASIA, NAT GEO CHANNEL, CHANNEL V, FASHION TV, NAT GEO PEOPLE, FOX, FX, DREAMWORKS, CARTOON NETWORK, FOX MOVIE PREMIUM, FOX ACTION MOVIES, FOX FAMILY MOVIES, CELESTIAL MOVIES, HBO, RED, FLIK, GALAXY,  BEIN 1, BEIN 2, BEIN 3
                            </span>
                        </p>
                        <p><!-- List 3 -->
                            <span class="icon"><i class="material-icons" style="vertical-align: middle">tv</i></span>
                            <span class="tv-list-text"><strong>BASIC+ TV CHANNELS</strong><br>
                              TRANS TV, TRANS 7, METRO TV, ANTV, KOMPAS TV, CNN INDONESIA, TV ONE, SCTV, NET TV, KPLUS, START WORLD, WAKU - WAKU JAPAN, NHK WORLD PREMIUM, ANIPLUS, CHANNEL M, ALJAZEERA, AUSTRALIA+, CCTV 4, BLOOMBERG INTERNATIONAL, CNN INTERNATIONAL, DWTV, CNBC ASIA, EURONEWS, NAT GEO CHANNEL, CHANNEL V, MTV LIVE, FASHION ONE, FASHION TV, NAT GEO WORLD, FOX, FX, AXN, DIVA, UNIVERSAL, SONY CHANNEL, SYFY, E!, STAR CHINESE CHANNEL, ZEE HIBURAN, DISNEY CHANNEL, DREAMWORKS, CARTOON NETWORK, BABY FIRST, FOX MOVIE PREMIUM, FOX ACTION MOVIES, CELESTIAL MOVIES, HBO, HBO HITS, HBO SIGNATURE, HBO FAMILY, CINEMAX, RED, FLIK, GALAXY,  FOX SPORT 1 FOX SPORT 2 FOX SPORT NEWS, BEIN 1, BEIN 2, BEIN 3
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                      <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                      <a href="https://twitter.com/groovy_play">Twitter</a><br>
                      <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                      <a href="https://www.youtube.com/channel/UCHeXAn6Z0ynGxFakYVvQSLA">Youtube</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                      <a href="features">Internet</a><br>
                      <a href="features">Live TV</a><br>
                      <a href="features">Video on Demand</a><br>
                      <a href="features">Social TV</a><br>
                      <a href="features">Catch-up TV Channel</a><br>
                      <a href="features">Radio Streaming</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                    <a href="comming">About</a><br/>
                    <a href="comming">Career</a><br>
                    <a href="comming">Event</a><br>
                    <a href="contact">Contact</a><br>
                    <a href="privacy-policy">Privacy Policy</a><br>
                    <a href="comming">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Layanan Internet terbaik untuk komplek perumahan dan apartemen dengan mengkombinasikan layanan hiburan terlengkap mullai dari live TV, video on demand, social TV, catch-up TV dan radio streaming
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2016 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
