<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href=""><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="features"><span class="navbar-menus"><strong>FEATURES</strong></span></a></li>
              <li><a href="packages"><span class="navbar-menus"><strong>PACKAGES</strong></span></a></li>
              <li><a href="support"><span class="navbar-menus"><strong>SUPPORT</strong></span></a></li>
                <li class="active"><a href="comming"><span class="sign-in-only"><strong>SIGN IN</strong></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--content-->
<div class="container privacy-policy-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="privacy-policy-header-font">Groovy Privacy Policy</h2>
            <div class="border-line-header"></div>
            <h3 class="privacy-policy-content-header">Melindungi data pribadi dan menghargai privasi Anda</h3><br/>
            <p class="privacy-policy-content-text">Groovy mengumpulkan informasi untuk dapat memahami kebutuhan Anda agar kami dapat memberikan yang terbaik. Hal ini membantu kami untuk meningkatkan pelayanan.<br/><br/>Kami berusaha untuk seterbuka dan setransparan mungkin dalam melayani Anda, karena kami paham bahwa privasi Anda sangatlah penting.
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">Cara kami mendapatkan informasi pribadi Anda</h3><br/>
            <p class="privacy-policy-content-text">Kami mengumpulkan informasi pribadi Anda ketika Anda :<br/>
            <ul class="privacy-policy-content-text">
                <li>mengunjungi situs web kami</li>
                <li>mendaftar menjadi member groovy</li>
                <li>menghubungi kami dengan pertanyaan atau permohonan untuk pertolongan</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">Informasi yang kami dapatkan</h3><br/>
            <p class="privacy-policy-content-text">Informasi yang kami dapatkan tergantung dari aktivitas dan posisi Anda atas produk groovy. Berikut adalah informasi yang kami dapatkan :<br/>
            <ul class="privacy-policy-content-text">
                <li>Identitas Anda</li>
                <li>Informasi akun Anda</li>
                <li>Informasi atas penggunaan Anda terhadap produk kami</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">Kami menggunakan Informasi Anda</h3><br/>
            <p class="privacy-policy-content-text">bagaimana kami menggunakan informasi Anda, diantaranya adalah :<br/>
            <ul class="privacy-policy-content-text">
                <li>untuk menyediakan layanan administrasi Anda</li>
                <li>untuk penelitian pasar dan peningkatan layanan</li>
                <li>untuk persyaratan hukum dan peraturan</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">Membagikan informasi Anda</h3><br/>
            <p class="privacy-policy-content-text">Kami dapat membagikan informasi Anda dengan :<br/>
            <ul class="privacy-policy-content-text">
                <li>rekan usaha dan vendor yang bekerja sama dengan kami untuk memberikan layanan yang Anda sudah berlangganan atasnya.</li>
                <li>regulator industri dan organisasi pemerintahan lainya, sebagaimana dipersyaratkan oleh hukum dan peraturan setempat</li>
                <li>inistitusi keuangan untuk tujuan seperti memfasilitasi pembayaran GIRO</li>
                <li>institusi penelitian untuk tujuan analisa pasar</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">Melindungi informasi Anda</h3><br/>
            <p class="privacy-policy-content-text">Kami selalu menerapkan sistem keamanan yang ketat untuk melindungi informasi Anda, upaya yang kami terapkan diantaranya :<br/>
            <ul class="privacy-policy-content-text">
                <li>membatasi akses terhadap informasi di sistem kami dengan sistem dari rekan bisnis dan vendor kami</li>
                <li>menjaga untuk mencegah pelanggaran keamanan di jaringan dan sistem database kami</li>
                <li>memperketat proses verifikasi untuk mencegah akses yang tidak diiginkan</li>
            </ul>
            </p>
            <br/>

            <h4 class="privacy-policy-content-header-2">Butuh pertanyaan lebih detail, silahkan hubungi kami <a href="http://groovy.id/beta/contact-us">disini</a></h4><br/>
            <p class="privacy-policy-content-text">Kami dapat mengubah kebijakan ini dari waktu ke waktu. Kami akan selalu berkomitmen untuk menjaga informasi Anda dan terbuka mengenai praktek perlindungan data kami.</p>
        </div>
    </div>
</div>
</div>
<!--/content-->

<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                      <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                      <a href="https://twitter.com/groovy_play">Twitter</a><br>
                      <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                      <a href="https://www.youtube.com/channel/UCHeXAn6Z0ynGxFakYVvQSLA">Youtube</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                      <a href="features">Internet</a><br>
                      <a href="features">Live TV</a><br>
                      <a href="features">Video on Demand</a><br>
                      <a href="features">Social TV</a><br>
                      <a href="features">Catch-up TV Channel</a><br>
                      <a href="features">Radio Streaming</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                    <a href="comming">About</a><br/>
                    <a href="comming">Career</a><br>
                    <a href="comming">Event</a><br>
                    <a href="contact">Contact</a><br>
                    <a href="privacy-policy">Privacy Policy</a><br>
                    <a href="comming">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Layanan Internet terbaik untuk komplek perumahan dan apartemen dengan mengkombinasikan layanan hiburan terlengkap mullai dari live TV, video on demand, social TV, catch-up TV dan radio streaming
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2016 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
