<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groovy - Connecting Home</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="../"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="features"><span class="navbar-menus">FEATURES</span></a></li>
                  <li><a href="packages"><span class="navbar-menus">PACKAGES</span></a></li>
                  <li><a href="support"><span class="navbar-menus">SUPPORT</span></a></li>
                  <li><a href="contact"><span class="navbar-menus">CONTACT</span></a></li>
                  <!-- <li class="active"><a href=""><span class="sign-in-only">SIGN IN</span></a></li> -->
              </ul>
          </div><!--/.nav-collapse -->
      </div>
  </nav>

<!--content-->
<div class="container privacy-policy-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="privacy-policy-header-font">Groovy Privacy Policy</h2>
            <div class="border-line-header"></div>
            <h3 class="privacy-policy-content-header">Protecting personal data and respects your privacy</h3><br/>
            <p class="privacy-policy-content-text">Groovy gathering information to understand your needs, so that we can provide the best service. This helps us to improve our services.<br/><br/>We trying to be open and transparent as possible in serving you, because we understand that your privacy is important.
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">How we collect your personal information</h3><br/>
            <p class="privacy-policy-content-text">We collect your personal information when you:<br/>
            <ul class="privacy-policy-content-text">
                <li>Visiting our website</li>
                <li>Sign up to become Groovy member</li>
                <li>Contact us with any questions or request for help</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">The information we get</h3><br/>
            <p class="privacy-policy-content-text">The information we get depends on the activity and your position on the product groovy. Here is the information we get:<br/>
            <ul class="privacy-policy-content-text">
                <li>Your idendity</li>
                <li>Your account information</li>
                <li>Information on your use of our products</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">We use your information</h3><br/>
            <p class="privacy-policy-content-text">How we use your information, such as:<br/>
            <ul class="privacy-policy-content-text">
                <li>To provide administrative services you</li>
                <li>For market research and improved service</li>
                <li>For legal and regulatory requirements</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">Share your information</h3><br/>
            <p class="privacy-policy-content-text">We may share your information with:<br/>
            <ul class="privacy-policy-content-text">
                <li>Business partners and vendors that work with us to provide services that you have subscribed to it.</li>
                <li>Industry regulators and other government organizations, as required by local laws and regulations</li>
                <li>Financial institutions for purposes such as facilitating payments GIRO</li>
                <li>Research institutions for the purpose of market analysis</li>
            </ul>
            </p>
            <br/>

            <h3 class="privacy-policy-content-header">Protect your information</h3><br/>
            <p class="privacy-policy-content-text">We always apply strict security systems to protect your information, the effort that we apply include:<br/>
            <ul class="privacy-policy-content-text">
                <li>Limiting access to information in our system with the systems of business partners and vendors</li>
                <li>Guard to prevent security breaches in the network and our database system</li>
                <li>Secure the verification process to prevent unwanted access</li>
            </ul>
            </p>
            <br/>

            <h4 class="privacy-policy-content-header-2">Need more detailed questions, please contact us <a href="http://groovy.id/beta/contact-us">click here</a></h4><br/>
            <p class="privacy-policy-content-text">We may change this policy from time to time. We will always be committed to keep you informed and open about our data protection practices.</p>
        </div>
    </div>
</div>
</div>
<!--/content-->

<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                    <a href="#">Facebook</a><br>
                    <a href="#">Twitter</a><br>
                    <a href="#">Instagram</a><br>
                    <a href="#">Youtube</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                    <a href="/features#unlimited">Unlimited Internet Access</a><br>
                    <a href="/features#ftth">Fiber Optic to the Home</a><br>
                    <a href="/features#free-wifi">Free Public Wifi Account</a><br>
                    <a href="/features#ip-static">IP Static</a><br>
                    <a href="/features#helpdesk">Helpdesk 24/7</a><br>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                    <a href="about">About</a><br/>
                    <a href="career">Career</a><br>
                    <a href="event">Event</a><br>
                    <a href="contact">Contact</a><br>
                    <a href="privacy-policy">Privacy Policy</a><br>
                    <a href="terms-of-use">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Best Internet services for homes and apartments with a complete entertainment services, from live TV, video on demand, social TV, catch-up TV and radio streaming.</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2016 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
