<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="features"><span class="navbar-menus"><strong>FEATURES</strong></span></a></li>
              <li><a href="packages"><span class="navbar-menus"><strong>PACKAGES</strong></span></a></li>
              <li><a href="support"><span class="navbar-menus"><strong>SUPPORT</strong></span></a></li>
                <li class="active"><a href="signin"><span class="sign-in-only"><strong>SIGN IN</strong></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--content-->
<div class="container">
    <div class="support">
        <h2><span class="support-content-header">Welcome To Groovy Help Center</span></h2>
        <p><span class="support-content-text">Need help?<br>Find the answer to any question, from the basics all the way to advance guide</span></p>

        <div class="support-menu">
            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent1">What is Groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent1" class="collapse">
                    <p class="support-paragraph-faq">Groovy is TV and internet service with High-Speed Internet for a consistent fast connection. Stream live tv throughout out home using many of your favourite devices with 94 + Local & International Channel. Explore interesting features and lineups while away from home no your smart phone, tablet or laptop.</p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent2">How much does a subscription cost?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent2" class="collapse">
                    <p class="support-paragraph-faq">The subscription fee each month varies. There are three packages that you can customize to your needs. <a href="http://www.groovy.id/packages">http://www.groovy.id/packages</a></p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent3">What do I need to subscribe Groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent3" class="collapse">
                    <p class="support-paragraph-faq">To subscribe to make sure the area you are within reach of our network. Then you need the TV with an HDMI input. You do not need to be concerned about the Internet, because Groovy has included high-speed internet networks along with the package Groovy.</a></p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent4">How do I register groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent4" class="collapse">
                    <p class="support-paragraph-faq">To register please go to the groovy groovy main page, then click the button subscriber now. You will be redirected to the registration page, please fill out the form until the last step. Once you confirm your email, we will contact you to confirm the installation of the service schedule.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="support-content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="support-content2-text">Want to ask more details about the service Groovy?</span>
                <a href="#" class="support-link-contact">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!--/content-->
<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                <span class="home-footer-body-text">
                    <a href="#">Facebook</a><br>
                    <a href="#">Twitter</a><br>
                    <a href="#">Instagram</a><br>
                    <a href="#">Youtube</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                    <a href="#">Internet</a><br>
                    <a href="#">Live TV</a><br>
                    <a href="#">Video on Demand</a><br>
                    <a href="#">Social TV</a><br>
                    <a href="#">Catch-up TV Channel</a><br>
                    <a href="#">Radio Streaming</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                <span class="home-footer-body-text">
                    <a href="#">About</a><br/>
                    <a href="">Career</a><br>
                    <a href="">Event</a><br>
                    <a href="">Contact</a><br>
                    <a href="">Privacy Policy</a><br>
                    <a href="">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Layanan Internet terbaik untuk komplek perumahan dan apartemen dengan mengkombinasikan layanan hiburan terlengkap mullai dari live TV, video on demand, social TV, catch-up TV dan radio streaming
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2016 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
